<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPSubRip.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WPSubRip.My.MySettings>
            <setting name="PlayBackSecond" serializeAs="String">
                <value>4.979</value>
            </setting>
            <setting name="MediaWidth" serializeAs="String">
                <value>854</value>
            </setting>
            <setting name="MediaHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Proportion" serializeAs="String">
                <value>16:9</value>
            </setting>
            <setting name="ROD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>F:\无字幕的预发布视频和字幕(FLV SRT)\第01话.srtx</string>
                        <string>F:\无字幕的预发布视频和字幕(FLV SRT)\第02话.srtx</string>
                        <string>F:\无字幕的预发布视频和字幕(FLV SRT)\第03话.srtx</string>
                        <string>F:\无字幕的预发布视频和字幕(FLV SRT)\第04话.srtx</string>
                        <string>F:\无字幕的预发布视频和字幕(FLV SRT)\第05话.srt</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RibbonExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeLineAdjustment" serializeAs="String">
                <value>0</value>
            </setting>
        </WPSubRip.My.MySettings>
    </userSettings>
</configuration>
